{% macro tag(provider) %}
  <div class="provider-tag">
    <div class="name">{{ provider.slug | providerName }}</div>
    {% if provider.languages.length > 0 %}
      <div class="languages">
        {% for l in provider.languages %}
          <span class="language">{{ l }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endmacro %}
