/*
  colors: https://flatuicolors.com/palette/in
*/

body {
  font-family: sans-serif;
  background-color: #f1f2f6;
  color: #2C3A47;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1B9CFC;
}

header {
  background-color: #B33771;
  padding: 1rem;
}

header > .content {
  max-width: 800px;
  margin: auto;
  padding: .5rem;
}

header > .content > h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

header > .content > h1 > a {
  color: #f1f2f6;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: auto;
  padding: .5rem;
}

main > .pages {
  text-align: center;
  font-weight: lighter;
}

main > .items {
  display: grid;
  gap: 2rem;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  main > .items {
    grid-template-columns: repeat(3, 1fr);
  }
}

main > .items > .item {
  display: block;
}

main > .items > .item > a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #2C3A47;
}

main > .items > .item > a > .title {
  font-size: 1.5rem;
  padding: 0;
  margin: .5rem 0;
}

main > .items > .item > a > .providers {
  font-size: .75rem;
  display: inline-block;
  gap: .5rem;
}

nav {
  display: flex;
  margin: 5rem 0;
  justify-content: space-between;
}

nav > a {
  display: inline-block;
}

nav > a.next {
  margin-left: auto;
}

.poster {
  display: inline-block;
  border-radius: .5rem;
  overflow: hidden;
}

.poster > img {
  display: block;
  max-width: 100%;
}

.provider-tag {
  display: inline-block;
  background-color: #3B3B98;
  border-radius: .25rem;
  overflow: hidden;
}

.provider-tag > .name {
  display: inline-block;
  background-color: #182C61;
  color: #EAB543;
  font-weight: bolder;
  padding: .25rem .5rem;
}

.provider-tag > .languages {
  display: inline-flex;
  gap: .5rem;
  padding: .25rem .5rem;
}

.provider-tag > .languages > .language {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bolder;
  color: #f1f2f6;
}

pre {
  padding: .75rem;
  background-color: #F8EFBA;
  border-radius: .25rem;
  border: #EAB543 solid 1px;
}

.hidden {
  display: none;
}

.prowlarr-bar {
  margin: 0;
  padding: 1rem;
  background-color: #FD7272;
  color: white;
}

.prowlarr-bar a {
  color: #F8EFBA;
}

.prowlarr-bar > p {
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer {
  max-width: 800px;
  margin: 5rem auto;
  font-size: .75rem;
}
