---
pagination:
  data: items
  size: 12
  alias: item
permalink: "{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
layout: base.njk
---
<p class="pages">Página <strong>{{ pagination.pageNumber + 1 }}</strong> de {{ pagination.pages.length }}</p>
<div class="items">
  {% for item in pagination.items %}
    <div class="item">
      <a href="{{ item | itemUrl }}">
        <div class="poster"><img src="https://image.tmdb.org/t/p/w300{{ item.info.poster_path }}" /></div>
        <p class="title">{{ item | itemTitle }}</p>
        <div class="providers">
          {% for p in item.provider_pages %}
            <div class="provider">
              <div class="name">{{ p.slug | providerName }}</div>
              {% if p.languages.length > 0 %}
                <div class="languages">
                  {% for l in p.languages %}
                    <span class="language">{{ l }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </a>
    </div>
  {% endfor %}
</div>
<nav>
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="previous">← Anterior</a>
  {% else %}
    <div class="previous"></div>
  {% endif %}
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="next">Próxima →</a>
  {% else %}
    <div class="next"></div>
  {% endif %}
</nav>
