---
pagination:
  data: items
  size: 12
  alias: item
permalink: "{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
layout: base.njk
eleventyComputed:
  title: "Catálogo Betor{% if pagination.pageNumber > 0 %} - Página {{ pagination.pageNumber + 1 }}{% endif %}"
---
{% import "list.njk" as list %}
<p class="pages">Página <strong>{{ pagination.pageNumber + 1 }}</strong> de {{ pagination.pages.length }}</p>
{{ list.l(pagination.items) }}
<nav>
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="previous">← Anterior</a>
  {% else %}
    <div class="previous"></div>
  {% endif %}
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="next">Próxima →</a>
  {% else %}
    <div class="next"></div>
  {% endif %}
</nav>
