---
pagination:
  data: items
  size: 12
  alias: item
permalink: "{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
layout: base.njk
eleventyComputed:
  title: "Catálogo Betor{% if pagination.pageNumber > 0 %} - Página {{ pagination.pageNumber + 1 }}{% endif %}"
---
{% import "providers.njk" as providers %}
{% import "torrents.njk" as torrents %}
<p class="pages">Página <strong>{{ pagination.pageNumber + 1 }}</strong> de {{ pagination.pages.length }}</p>
<div class="items">
  {% for item in pagination.items %}
    <div class="item">
      <a href="{{ item | itemUrl }}">
        <div class="poster"><img src="{{ item | itemPosterURL }}" /></div>
        <p class="title">{{ item | itemTitle }}</p>
        <div class="providers">
          {% for provider in item.providers %}
            {{ providers.tag(provider) }}
          {% endfor %}
        </div>
        {% for provider in item.providers %}
          {% for torrent in provider.torrents %}
            <span class="hidden" {{ torrents.data(item, provider, torrent) }} />
          {% endfor %}
        {% endfor %}
      </a>
    </div>
  {% endfor %}
</div>
<nav>
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="previous">← Anterior</a>
  {% else %}
    <div class="previous"></div>
  {% endif %}
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="next">Próxima →</a>
  {% else %}
    <div class="next"></div>
  {% endif %}
</nav>
