---
pagination:
  data: items
  size: 1
  alias: item
permalink: "{{ item | itemUrl }}/index.html"
layout: base.njk
eleventyComputed:
  title: "{{ item | itemTitle }} - Catálogo Betor"
---
<article>
  <div class="poster"><img src="{{ item | itemPosterURL }}" /></div>
  <h2>{{ item | itemTitle }}</h2>
  <p>
    <span><strong>IMDb:</strong> {% if item.imdb_id %}{{ item.imdb_id }}{% else %}-{% endif %}</span>
    <span>/</span>
    <span><strong>TMDB:</strong> {% if item.tmdb_id %}{{ item.tmdb_id }}{% else %}-{% endif %}</span>
  </p>
  <p><small><strong>Atualizado às:</strong> {{ item.last_updated }}</small></p>
  {% for provider_item in item.providers %}
    <hr />
    <h3><strong>{{ provider_item.slug | providerName }}</strong></h3>
    <p><a href="{{ provider_item.url }}" target="_blank">{{ provider_item.url }}</a></p>
    {% for torrent in provider_item.torrents %}
      <p><strong>{{ torrent.torrent_name }}</strong>{% if torrent.torrent_size %} <span>({{ torrent.torrent_size | formatBytes }})</span>{% endif %}</p>
      {% if torrent.torrent_files %}
        <p>Arquivos:</p>
        <pre>{% for file in torrent.torrent_files %}{{file}}
{% endfor %}</pre>
      {% endif %}
    {% endfor %}
  {% endfor %}
</article>
<nav>
  <p><a href="/">← Voltar ao catálogo</a></p>
</nav>
