---
pagination:
  data: items
  size: 1
  alias: item
permalink: "{{ item | itemUrl }}/index.html"
layout: base.njk
eleventyComputed:
  title: "{{ item | itemTitle }} - Catálogo Betor"
---
{% import "torrents.njk" as torrents %}
{% import "providers.njk" as providers %}
<article>
  <div class="poster"><img src="{{ item | itemPosterURL }}" /></div>
  <h2>{{ item | itemTitle }}</h2>
  <p>
    <span><strong>IMDb:</strong> {% if item.imdb_id %}<a href="/imdb/{{ item.imdb_id }}/">{{ item.imdb_id }}</a>{% else %}-{% endif %}</span>
    <span>/</span>
    <span><strong>TMDB:</strong> {% if item.tmdb_id %}<a href="/tmdb/{{ item.tmdb_id }}/">{{ item.tmdb_id }}</a>{% else %}-{% endif %}</span>
  </p>
  <p><small><strong>Atualizado às:</strong> <span>{{ item.last_updated | toLocaleString }}</span></small></p>
  {% for provider in item.providers %}
    <hr />
    <div class="provider">
      <a href="{{ provider.url }}" target="_blank">{{ providers.tag(provider) }}</a>
      {% for torrent in provider.torrents %}
        {{ torrents.t(item, provider, torrent) }}
      {% endfor %}
    </div>
  {% endfor %}
</article>
<nav>
  <p><a href="/">← Voltar</a></p>
</nav>
